{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Password Reset Complete</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="title">
            <img src="{% static 'assets/logo.png' %}" height="30px">
        </div>
        <div class="title">
            <h2>Password Reset Complete</h2>
        </div>
        <div class="secondary">
            <p>You can now log in with your new password.</p>
        </div>
    </body>
</html>