{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="title">
            <img src="{% static 'assets/logo.png' %}" height="30px" >
        </div>
        <div class="title">
            <h2>Reset Password</h2>
        </div>
        <div class="form">
            <form method="post" action="{% url 'reset_password' token=token encoded_pk=encoded_pk %}">
                {% csrf_token %}
                <div class="section">
                    <label for="password"><h4>New password</h4></label>
                </div>
                <div class="section">
                    <input type="password" name="password" required>
                </div>
                <div>
                    <button type="submit">Reset Password</button>
                </div>
            </form>
        </div>
    </body>
</html>